[Desktop Entry]
Version=1.0
Type=Application
Name=Semantic Voice Transcriber
Comment=Starte Semantic Voice Transcriber (SVT)
Exec=/home/dyai/Dokumente/DYAI_home/DEV/TOOLS/TransSemantic/Super_semantic_whisper/start_svt.sh
Icon=audio-x-generic
Terminal=false
Categories=AudioVideo;Audio;
Path=/home/dyai/Dokumente/DYAI_home/DEV/TOOLS/TransSemantic/Super_semantic_whisper
